<!DOCTYPE html>
<html>
<head>
  <title>AutowashScheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <% if current_user %>
        Signed in as <%= current_user.email %>
        <%= link_to "Log out", session_path("current"), :method => :delete, :class =>"sign-up" %> 
      <% else %>
        <a href="/users/new" class="sign-up">Sign Up</a>
        <a href="/sessions/new" class="sign-up">Log In</a>
      <% end %>

<%= yield %>

</body>
</html>
